{% extends "thoughtpal/navbar.html" %} {% load static %} {% block content %}
<head>
  <title>ThoughtPal | Delete Account</title>
</head>
<br />
<div class="container shadow-md p-5 form-layout">
  <h3>Delete account</h3>
  <p>Are you sure you want to delete your account?</p>
  <br />
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <!-- stop -->
    <button class="btn btn-danger btn-md w-100 btn-block p-3" type="submit">
      Yes, delete my account.
    </button>
  </form>
  <br /><br />
  <a href="{% url 'profile-management' %}">Go back to profile management</a>
</div>


{% endblock %}
