{% extends "thoughtpal/navbar.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<title>ThoughtPal | Update Thought</title>

<br />
<div class="container shadow-md p-5 form-layout">
  <h3>Update thought</h3>
  <p>Here you can update your thought.</p>
  <br />
  <form method="POST" autocomplete="off">
    {% csrf_token %}
    <!-- stop -->
    {{ UpdateThought|crispy }}
    <br />
    <button
      class="btn btn-secondary btn-md w-100 btn-block p-2 custom-secondary-button"
      type="submit"
    >
      Update Thought
    </button>
  </form>
</div>

{% endblock %}
